html,
body {
    margin: 0;
    height: 100vh;
}

#container {
    position: relative; /* makes this the origin of its children */
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#canvas {
    width: 100%;
    height: 100%;
}

#labels {
    position: absolute; /* let us position ourself inside the container */
    left: 0; /* make our position the top left of the container */
    top: 0;
    width: 100%;
    color: white;
}

#labels > span {
    transition: opacity 0.3s ease-in;
    opacity: 0;
    position: absolute; /* let us position them inside the container */
    left: 0; /* make their default position the top left of the container */
    top: 0;
    cursor: pointer; /* change the cursor to a hand when over us */
    font-size: large;
    user-select: none; /* don't let the text get selected */
    text-shadow:         /* create a black outline */ -1px -1px 0 #000,
        0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000,
        0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

#back {
    display: none;
    position: absolute;
    color: white;
    border: none;
    padding: 10px 15px;
    left: 15px;
    top: 15px;
    background: rgba(0, 0, 0, 0.6);
    font-size: larger;
    outline-style: none;
}

#back:hover {
    background: rgba(0, 0, 0, 0.8);
}
